@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Neuton:wght@200;300;400;700;800&family=Saira+Extra+Condensed:wght@100;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9493eb;
}

.body {
  background-color: #9493eb;
}

h1 {
  background-color: #df78b1;
  font-size: 2rem;
  font-family: "Bellota", cursive;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  margin: 0;
}

h2 {
  background-color: #63a375;
  color: #edc79b;
  font-family: "Neuton", serif;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0;
}

h3 {
  background-color: #df78b1;
  color: #edc79b;
  font-family: "Saira Extra Condensed", sans-serif;
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
  margin: 0;
}

h5 {
  background-color: #63a375;
  color: #edc79b;
  font-family: "Neuton", serif;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
  letter-spacing: 2px;
  margin: 0;
}

.menu1 {
  background-color: #d57a66;
  list-style-type: none;
  padding: 0.5rem;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
}

.url {
  color: #ffd900;
  list-style-type: none;
  text-decoration-line: none;
  background-color: #d57a66;
  padding: 3px;
  display: inline-block;
  border: 1px solid black;
  margin: 0;

}

.parrafo1 {
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem;
  display: inline-block;
  border: 1px solid black;
  margin: 0;
}

.norepeat {
  color: red;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.parrafo-quienes {
  background-color: #ca6680;
  font-family: cursive;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  padding: 3px;
  display: inline-block;
  border: 1px solid black;
  margin: 0;
}

.icon {
  width: 30px;
}

.icon-contacto {
  width: 30px;
}

.redes1 {
  padding: 0.5rem;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
}

.consulta {
  background-color: chocolate;
  text-align: start;
}

.form {
  text-align: justify;
  text-decoration-line: none;
  display: inline-block;
  padding: 0.5rem;
}

.flex-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.fotos11 {
  background-color: #4931d1;
  color: #edc79b;
  width: 80%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo11 {
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "foto1 parrafo1 foto2 parrafo2";
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.fotos1 {
  grid-area: "foto1";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo12 {
  grid-area: "parrafo1";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.fotos2 {
  min-height: 100%;
  grid-area: "foto2";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo13 {
  grid-area: "parrafo2";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "foto1 parrafo1 foto2 parrafo2";
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.fotos3 {
  grid-area: "foto1";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo14 {
  grid-area: "parrafo1";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.fotos4 {
  grid-area: "foto2";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo15 {
  grid-area: "parrafo2";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tattoo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "tatto1 parrafo1 tatto2 parrafo2 tatto3 parrafo3"
    "tatto4 parrafo4 tatto5 parrafo5 tatto6 parrafo6";
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

.tatoo1 {
  grid-area: "tatoo1";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo10 {
  grid-area: "parrafo1";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tatoo2 {
  grid-area: "tatoo2";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo9 {
  grid-area: "parrafo2";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tatoo3 {
  grid-area: "tatoo3";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo8 {
  grid-area: "parrafo3";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tatoo4 {
  grid-area: "tatoo4";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo7 {
  grid-area: "parrafo4";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tatoo5 {
  grid-area: "tatoo5";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo6 {
  grid-area: "parrafo5";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.tatoo6 {
  grid-area: "tatoo6";
  background-color: #4931d1;
  color: #edc79b;
  width: 100%;
  max-width: 50vh;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.05rem;
}

.parrafo5 {
  grid-area: "parrafo6";
  background-color: #ca6680;
  color: yellow;
  font-family: "Titillium Web", sans-serif;
  padding: 3px;
  border: 1px solid black;
}

.redes-center {
  text-align: center;
}

.main {
  background-image: url("../img/cover.jpg");
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 72vh;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
  align-items: center;
  margin-top: 4rem;
}



/****************************************************************************************************/



@media screen and (max-width: 600px) {
  .parrafo1,
  .parrafo-quienes,
  .parrafo5,
  .parrafo6,
  .parrafo7,
  .parrafo8,
  .parrafo9,
  .parrafo10,
  .parrafo11,
  .parrafo12,
  .parrafo13,
  .parrafo14,
  .parrafo15 {
    font-size: 13px;
    text-align: center;
  }

  .norepeat {
    height: 100vh;
  }

  .flex-img {
    margin-top: 1rem;
  }

  .fotos11 {
    width: 100%;
  }

  .grid1,
  .grid2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 1rem;
  }

  .tattoo {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
}
