.img-director1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;

  .fotos-quienes1 {
    background-color: $colorBordeFot;
    width: 100%;
    max-width: 50vh;
    padding: 2.5px;
    border: 1.2px solid black;
    border-radius: 5px;
    margin-left: 0.05rem;
  }

  .parrafo-quie1 {
    background-color: $FondoParrafoPrinc;
    color: $colorLetraParra;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    padding: 3px;
    border: .5px solid black;
    border-radius: 8px;
  }
}

.img-director1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;

  .fotos-quienes1 {
    background-color: $colorBordeFot;
    width: 100%;
    max-width: 50vh;
    padding: 2.5px;
    border: 1.2px solid black;
    border-radius: 5px;
    margin-left: 0.05rem;
  }

  .parrafo-quie1 {
    background-color: $FondoParrafoPrinc;
    color: $colorLetraParra;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    padding: 3px;
    border: .5px solid black;
    border-radius: 8px;
  }
}

.img-director2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;

  .fotos-quienes1 {
    background-color: $colorBordeFot;
    width: 100%;
    max-width: 50vh;
    padding: 2.5px;
    border: 1.2px solid black;
    border-radius: 5px;
    margin-left: 0.05rem;
  }

  .parrafo-quie1 {
    background-color: $FondoParrafoPrinc;
    color: $colorLetraParra;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    padding: 3px;
    border: .5px solid black;
    border-radius: 8px;
  }
}

.img-director3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;

  .fotos-quienes1 {
    background-color: $colorBordeFot;
    width: 100%;
    max-width: 50vh;
    padding: 2.5px;
    border: 1.2px solid black;
    border-radius: 5px;
    margin-left: 0.05rem;
  }

  .parrafo-quie1 {
    background-color: $FondoParrafoPrinc;
    color: $colorLetraParra;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    padding: 3px;
    border: .5px solid black;
    border-radius: 8px;
  }
}

.img-director4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  align-items: center;

  .fotos-quienes1 {
    background-color: $colorBordeFot;
    width: 100%;
    max-width: 50vh;
    padding: 2.5px;
    border: 1.2px solid black;
    border-radius: 5px;
    margin-left: 0.05rem;
  }

  .parrafo-quie1 {
    background-color: $FondoParrafoPrinc;
    color: $colorLetraParra;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
    padding: 3px;
    border: .5px solid black;
    border-radius: 8px;
  }
}