h2 {
  background-color: #576490;
  color: $colorH2;
  font-family: "Neuton", serif;
  font-weight: 400;
  letter-spacing: .8px;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0;
}