@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Neuton:wght@200;300;400;700;800&family=Saira+Extra+Condensed:wght@100;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

$colorNav: #283044;

$colorH2: #FF8C42;

$colorLetraParra: #000000;

$colorBordeFot: #E55934;

$colorH1: #C5EFCB;

$colorLetraNav: #ffd900;

$FondoParrafoPrinc: #9CF6F6;



